@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: serif;
}
.link{
  @apply mr-0 md:mr-5 hover:text-yellow-500 p-4 md:p-0 cursor-pointer
}
.bg{
  background-image: url(./images/317829151_3437046409861049_858070194093954028_n.webp);
  background-size:cover;
  background-repeat: no-repeat;
  height:100vh;
  width: 100%;
}
.bg::before{
  content:"";
  position: absolute;
  height: 100vh;
  width: 100%;
  color: white;
  background-color:rgb(0,0,0,0.4);
}
.homeBtn{
  @apply bg-slate-400 text-black w-28 rounded-md p-2 text-lg font-semibold mr-5 shadow-black shadow-md hover:text-white hover:bg-black;
}
.homeBtn:hover,#about button,#fgm button, form button{
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/* about section */
#about h2,#fgm h2,#earlyPregnancy h2,#earlyMarriages h2,#menstrual h2{
  border-left: solid 4px yellow;
}
/* footer section */
#socialIcon{
  @apply w-8 mr-5
}
.image-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.image-slider img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
}
#event{
  @apply mr-0 md:mr-5 mt-5 md:mt-0
}